@import "tailwindcss";

.bg-degraded1 {
	background: linear-gradient(135deg, #b1e1e9 0%, #f2e4f9 100%);
}

@font-face {
	font-family: "Caveat-Brush";
	src: url("/fonts/CaveatBrush-Regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PlaywriteID";
	src: url("/fonts/PlaywriteID-VariableFont_wght.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "ReenieBeanie";
	src: url("/fonts/ReenieBeanie-Regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Yellowtail";
	src: url("/fonts/Yellowtail-Regular.woff2") format("woff2");
	font-display: swap;
}

.yellowtail {
	font-family: "Yellowtail", cursive;
}

.Caveat-Brush {
	font-family: "Caveat-Brush", cursive;
}

.PlaywriteID {
	font-family: "PlaywriteID", cursive;
}

.ReenieBeanie {
	font-family: "ReenieBeanie", cursive;
}

body {
	margin: 0;
	min-width: 320px;
}

button {
	outline: none;
}

button:focus-visible {
	outline: 3px solid #86afce;
	outline-offset: 4px;
}

img {
	display: block;
	max-width: 100%;
}
