@import "tailwindcss";

.bg-degraded1 {
	background: linear-gradient(to right, #b1e1e9, #f2e4f9);
}

@font-face {
	font-family: "Caveat-Brush";
	src: url("/fonts/CaveatBrush-Regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PlaywriteID";
	src: url("/fonts/PlaywriteID-VariableFont_wght.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "ReenieBeanie";
	src: url("/fonts/ReenieBeanie-Regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Yellowtail";
	src: url("/fonts/Yellowtail-Regular.woff2") format("woff2");
	font-display: swap;
}

.yellowtail {
	/* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
	font-family: "Yellowtail";
}

.Caveat-Brush {
	/* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
	font-family: "Caveat-Brush";
}

.PlaywriteID {
	/* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
	font-family: "PlaywriteID";
}

.ReenieBeanie {
	/* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
	font-family: "ReenieBeanie";
}
